
body {
font-family: 'Lato', sans-serif;
	font-size: 19px;
	font-weight: 100;
}

.demo-home {
  width: 1440px;
  height: 4389px;
  max-width:100%;
  
  background-color: #f4f4f4;
}
.sci-image{
  width: 591px;
  height: 444px;
  max-width:100%;
}
.ryt-one{
	    padding: 0px 0 0 30px;
}

	.sci-top{
display:inline-flex;
  width: 1172px;
  max-width:100%;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.subj-tyl {
  /*width: 518px;*/
  
font-family: 'Lato', sans-serif;
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}
.author2 {
  width: 54.1px;
  height: 54px;
  max-width:100%;
}
.auth-name {
 /* width: 118px;*/
  height: 22px;
  max-width:100%;
 font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #818181;
  margin: 0;
}

.tym {
 /* width: 114px;*/
  max-width:100%;
  height: 17px;
 font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3d3d3d;
}
h6.titl {
 /* width: 86px;*/
  max-width:100%;
  height: 22px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.6px;
  text-align: left;
  color: #000000;
  color: var(--black);
  text-transform:uppercase;
  border-bottom: solid 3px #edd30d;
      padding-bottom: 5px;

}

span.author {
    display: inline-flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
}
span.auth-detl {
    margin-left: 20px;
}
.container{
	max-width:100% !important;
  /*width: 1172px;*/
  width: 1202px;
  padding:0 15px;
      margin: 0 auto;
	  
  
}

.excerpt {
 /* width: 518px;*/
  max-width:100%;
  height: 84px;
font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}
.busns-imag {
 /* width: 370px;*/
      width: 100%;
  max-width:100%;
  height: 208px;
}
h6.titl.tyl2  {
  /*width: 76px;*/
  max-width:100%;
  height: 17px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.3px;
  text-align: left;
  color: #000000;
  color: var(--black);
  border-bottom: solid 3px #f26c60 !important;
 /* border-bottom:: solid 3px var(--coral) !important;*/
}
.subj-bsns {
 
font-family: 'Lato', sans-serif;
  font-size: 24px;  
  line-height: 1.33;
  color: #222222;
      margin: 10px 0;
	  font-weight:normal;
}
.excerpt2 {
  /*width: 335px;*/
  max-width:100%;
  height: 88px;
 font-family: 'Lora', serif;
  font-size: 14px;
  line-height: 1.57;
  color: #5c5c5c;
}
.authr2 {
 /* width: 107px;*/
  max-width:100%;
  height: 19px;
 font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #818181;
}

.sec2-sec1 {
 /* width: 370px;*/
  max-width:100%;
  /*height: 524px;*/
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  
}
.sec2spann{
	padding:20px;
	}
	h6.titl.tyl2 {
    margin: 0;
}


.sci-top div {
    width: 50%;
}
.header {
  /*width: 768px;*/
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  display:flex;
  padding:20px;
}
.header div {
    margin-right: 10px;
}
.logo {
 /* width: 93px;*/
/*  height: 27px;*/
 font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  color: var(--black);
  text-transform:capitalize;
  flex-grow: 2;
}
.container-togl {
    display: inline-block;
    cursor: pointer;
	flex-grow: 0;
}
.search {
  width: 30px;
  height: 30px;
  background-color: #000000;
  background-color: var(--black);
  flex-grow: 8;
      text-align: right;

}
.bar1, .bar2, .bar3 {
    width: 30px;
  height: 1.8px;
  /*border: solid 1.8px #000000;*/
  /*border: solid 1.8px var(--black) ;*/
   /*width: 35px;
    height: 5px;*/
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
	transform: rotate(45deg) translate(-5px, -4px);
    -webkit-transform: rotate(45deg) translate(-5px, -4px);
   /* transform: rotate(45deg) translate(-8px, -8px);*/
}
.subscribe {
 font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
      margin-top: 10px;
    display: inline;
}
.txt {
  width: 298px;
  height: 37px;
  border-radius: 4px;
  background-color: #ffffff;
 font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a0a0a0;
  margin-top: 20px;
    display: inline;
	padding:0 15px;
}
.bttn {
  width: 124px;
  height: 37px;
  border-radius: 100px;
  border: solid 1.5px #ffffff;
   font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
    display: inline;
	    background: transparent;
    cursor: pointer;
}
.newsltr{
      width: 370px;
    height: 245px;
    background-color: #2f73e4;
    text-align: center;
    padding: 20px 0;
}
.sec2 {
    display: inline-flex;
	margin-top: 50px;
}
.sec2-sec2 {
    margin: 0 15px;
    box-shadow: 0 0 black;
}
.publish {
    margin-bottom: 30px !important;
}
h6.titl.tyl2.travel{
  border-bottom: solid 3px #60bcf2 !important;
/*  border-bottom: solid 3px var(--lightblue);*/
  
}
h6.titl.tyl2.health{

  border-bottom: solid 3px #f260a4 !important;
 
  
}
h6.titl.tyl2.science{


  border-bottom: solid 3px #edd30d !important;
}
span.one {
    border-bottom: 1px solid #d8d8d8;
    display: block;
    margin-bottom: 10px;
}
span.one:last-child {
   
    border-bottom: none;
}
.w3-content.w3-display-container.sliderbg{
	background-image:url(../images/build.jpg);
	    background-size: 100%;
		 height: 379px;
		 background-color: #192d4f;
 /* opacity: 0.35;*/
     text-align: center;
	 padding: 40px;
	     margin-top: 40px;
		}
 button.w3-button.w3-black.w3-display-left {
  
    background-color: transparent !important;
	
}
button.w3-button.w3-black.w3-display-right {
   
        background-color: transparent !important;

}
.must-read {
  
 font-family: 'Lato', sans-serif;
  font-size: 34px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: center;
  color: #ffffff;
  text-transform:capitalize;
}
.must-exrpt {
 
 font-family: 'Lato', sans-serif;
  font-size: 38px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  
}
.cnt {
    width: 870px;
    margin: 0 auto;
	max-width:100%;
}
.w3-content {
    max-width: 100% !important;
    margin: auto;
}
.butnn-read {
  border-radius: 100px;
  border: solid 2.4px #ffffff;
  padding: 15px 40px;
}
.butnn-read a{
 font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  text-decoration:none;
}

.butnn-read a .text-style-1 {
  letter-spacing: normal;
}
.sec4-sec1{
	    background-image: url(../images/download.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
	padding: 20px;
	}
.sec4 {
    display: flex;
}
h2.subj-tyl.trump{
 font-family: 'Lato', sans-serif;
  font-size: 34px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
 

  }
  p.authr2.jon{
	  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  }
  span.postn {
   
}
.sec4 .sec2-sec1 {
    margin-bottom: 25px;
}
h4.sec4tyl {
  
 font-family: 'Lato', sans-serif;
  font-size: 34px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  color: var(--black);
  text-transform:capitalize;
  border-bottom: solid 4px #6093f2;
  padding-bottom:10px;
  margin:40px 0px;
}
h4.sec4tyl.sec5tyl{
	
	border-bottom: solid 4px #f260a4;
}
h3.subj-bsns.fud {
    font-size: 22px;
}
span.sec5sec-one {
    display: flex;
    background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
span.sec5sec-one:last-child{
  margin-bottom: 0px;
}
.sec5 {
    display: flex;
}
.sec5 .sec5sec-one .busns-imag{
	width:auto !important;
	}
.sec5-sec2 .sec2-sec1{
	height:100%;
	}
.sec5-sec1 {
    padding-right: 20px;
}
h3.jenny-last {
  
 font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}
.jenny-ex {
 
  font-family: Lora;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}
img.busns-imag.jenn {
    height: 320px;
}
h4.sec4tyl.sec6tyl {
  border-bottom: solid 4px #2f73e4;
}
.sci-image2 {
    width: 370px;
  height: 279px;
    max-width: 100%;
}
.sec6 {
    background-color: #ffffff;
    padding: 50px;
    margin-top: 50px;
}
.sci-top .imag {
    width: 370px;
}
.sci-top .ryt-one {
    padding: 0px 0 0 30px;
    width: 475px;
}
.sec6 .sci-top {
    margin-bottom: 40px;
    box-shadow: none;
	   /* width: 80%;*/
}
.sec6 span.auth-detl {
     margin-left: 0px; 
}
.sec6 h2{
	font-size:30px;
	}
.sec6 h6{
	font-size:14px;
	border-bottom: solid 3px #f260a4;
	}
.more {
    width: 16px;
    height: 16px;
    background-color: #2f73e4;
   margin: 0 6px;
    border-radius: 50%;
}
.ajax-ldmore {
    display: flex;
    justify-content: center;
}
.footer {
	padding:40px;
  background-color: #212121;
}
.ftr-ryt {
 
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
 line-height: 1.44;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.ftr-ryt .text-style-1 {
  font-weight: bold;
}
.container.fotr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* ============================== my style ==========================================*/


/* ============================== responsiveness ==========================================*/


@media (max-width: 992px) {
	.sci-top,.sec2,.sec4,.sec5{
display:inline-block;
	}
.sec5 .sec5sec-one .busns-imag {
    width: 190px !important;
	}
h3.subj-bsns.fud {
    font-size: 14px !important;
	}
.sec5 .auth-name,.sec6 .auth-name{
    font-size: 12px;
	}
h3,.sec6 h2{
    font-size: 14px !important;
	}
.sec6 .sci-top {
    display: flex;
	}
.sec6 {
	padding:0;
	}
.sec6 .tym{
    font-size: 10px;
	}
.container.fotr {
    display: inline-block;
    text-align: center;
	}
.ftr-ryt {
    text-align: center;
	}
.ajax-ldmore {
    margin-bottom: 20px;
	}
.sec5-sec1 {
    padding-right: 0;
    margin-bottom: 15px;
	}
.w3-content.w3-display-container.sliderbg {
    background-image: url(../images/build.jpg);
    background-size: 100% 100%;
	}
.must-read {
    font-size: 28px;
	}
.must-exrpt {
    font-size: 22px;
	}
.butnn-read a {
    font-size: 15.5px;
	}
.sliderbg .w3-button img{
	height:50px;
	width:50px;
	}
.sci-top .imag {
    width: auto;
	}
.subj-tyl {
    font-size: 26px;
	}
.excerpt {
    display: none;
	}
h6.titl {
    font-size: 16px;
	}
.sci-top .ryt-one {
    padding: 15px;
    width: auto;
	}
.sci-image {
    width: auto;
    height: auto;
    max-width: 100%;
	}
}
